if type lorri &>/dev/null; then
    echo "direnv: using lorri"
    eval "$(lorri direnv)"
    eval $(grep 'export NIX_' $(which ghc))
    export HIE_HOOGLE_DATABASE="$(cat $(which hoogle) | sed -n -e 's|.*--database \(.*\.hoo\).*|\1|p')"
else
    # fall back to using direnv's builtin nix support
    # to prevent bootstrapping problems.
    use nix
fi
