name: Flake updates
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # run this every Friday
    - cron: '0 0 * * FRI'
  workflow_dispatch:
    inputs: {}
jobs:
  flake-updater:
    runs-on: ubuntu-slim
    if: ${{ github.server_url == 'https://github.com' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org https://adomixaszvers.cachix.org https://cache.nixos.asia/oss https://cache.nixos-cuda.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= adomixaszvers.cachix.org-1:r3/lrlbDE7o/Vjk/muEU2iLIiCEZMbC09ZqiwAs64so= oss:KO872wNJkCDgmGN3xy9dT89WAhvv13EiKncTtHDItVU= cache.flakehub.com-3:hJuILl5sVK4iKm86JzgdXW12Y2Hwd5G07qKtHTOcDCM= cache.nixos-cuda.org:74DUi4Ye579gUqzH4ziL9IyiJBlDpMRn9MBN8oNan9M=
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v28
