name: Flake checks
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  flake-checker:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Fix "Fails To Build From Source"
        run: git apply ftbfs.patch
      - uses: wimpysworld/nothing-but-nix@main
        if: &pull_request github.event.pull_request.merged != true && github.base_ref == 'master'
      - name: Nix
        uses: DeterminateSystems/determinate-nix-action@main
        with:
          extra-conf: |
            eval-cores = 0
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            substituters = https://cache.nixos.org/ https://install.determinate.systems https://nix-community.cachix.org https://adomixaszvers.cachix.org https://cache.nixos-cuda.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= adomixaszvers.cachix.org-1:r3/lrlbDE7o/Vjk/muEU2iLIiCEZMbC09ZqiwAs64so= cache.flakehub.com-3:hJuILl5sVK4iKm86JzgdXW12Y2Hwd5G07qKtHTOcDCM= cache.nixos-cuda.org:74DUi4Ye579gUqzH4ziL9IyiJBlDpMRn9MBN8oNan9M=
      - uses: cachix/cachix-action@v16
        if: *pull_request
        with:
          name: adomixaszvers
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - name: Check evaluation
        run: 'find -name "*.nix" -exec nix-instantiate --parse 1>/dev/null {} +'
      - name: Check the flake
        run: 'nix flake check'
      - name: Prebuild packages
        if: *pull_request
        run: |
          nix eval --raw --impure .\#legacyPackages --apply 'f: builtins.concatStringsSep "\n" (builtins.map (p: p.drvPath) (builtins.attrValues f.${builtins.currentSystem}))'|\
          nix shell --inputs-from . nixpkgs\#nix nixpkgs\#nix-build-uncached -c xargs nix-build-uncached
