name: Flake checks
on:
  push:
      branches:
        - master
  pull_request:
jobs:
  flake-checker:
    runs-on: ${{ matrix.os }}
    strategy: &strategy
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    steps:
      - &checkout
        name: Checkout
        uses: actions/checkout@v6
      - &nothing-but-nix
        uses: wimpysworld/nothing-but-nix@v6
      - &nix
        name: Nix
        uses: DeterminateSystems/determinate-nix-action@main
        with:
          extra-conf: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            extra-experimental-features = nix-command flakes ca-derivations
            eval-cores = 0
            substituters = https://cache.nixos.org/ https://install.determinate.systems https://nix-community.cachix.org https://adomixaszvers.cachix.org https://cache.nixos-cuda.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= adomixaszvers.cachix.org-1:r3/lrlbDE7o/Vjk/muEU2iLIiCEZMbC09ZqiwAs64so= cache.flakehub.com-3:hJuILl5sVK4iKm86JzgdXW12Y2Hwd5G07qKtHTOcDCM= cache.nixos-cuda.org:74DUi4Ye579gUqzH4ziL9IyiJBlDpMRn9MBN8oNan9M=
      - &cachix
        uses: cachix/cachix-action@v16
        with:
          name: adomixaszvers
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - name: Check evaluation
        run: 'find -name "*.nix" -exec nix-instantiate --parse 1>/dev/null {} +'
      - name: Check the flake
        run: 'nix flake check'
  package-build:
    runs-on: ${{ matrix.os }}
    needs: flake-checker
    if: github.event.pull_request.merged != true && github.base_ref == 'master'
    strategy: *strategy
    steps:
      - *checkout
      - name: Fix "Fails To Build From Source"
        run: git apply ftbfs.patch
      - *nothing-but-nix
      - *nix
      - *cachix
      - name: Prebuild packages
        run: 'nix run "https://flakehub.com/f/DeterminateSystems/flake-iter/*" -- build'

