name: Flake checks
on:
  push:
      branches:
        - master
  pull_request:
jobs:
  flake-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Nix
        uses: DeterminateSystems/determinate-nix-action@main
        with:
          extra-conf: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            eval-cores = 4
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org https://adomixaszvers.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= adomixaszvers.cachix.org-1:r3/lrlbDE7o/Vjk/muEU2iLIiCEZMbC09ZqiwAs64so=
      - name: Check evaluation
        run: 'find -name "*.nix" -exec nix-instantiate --parse 1>/dev/null {} +'
      - name: Check the flake
        run: 'nix flake check'
